.footer__column-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 15px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 18px;
}
